a:not(.nav-link):not(.wagtail-userbar-link):not(.wagtail-userbar__item>a):not(.card-link) {
	color: #9814cc;
	transition: background-color .5s;
}
a:wagtail-userbar__item{
    color:#c71ec9;
}
a:nav-link{
    color:blue;
}
body {
	background-color:blue;
	font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

blockquote {
    border-left: .25em solid #08bd32;
    color: #4d4d4d;
    margin: 1em 0;
    padding: 1em 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--bs-font-sans-serif);
}

h1 {
	font-size: 2.7rem;
}

h2 {
	font-size: 2.1rem;	
}

h3 {
	font-size: 1.7rem;	
}

h4 {
	font-size: 1.4rem;	
}

h5 {
	font-size: 1.2rem;	
}

h6 {
	font-size: 1.1rem;	
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin-left: 0.1em;
}

#navbar-search-input {
	background-color:#7af76f;
	border-color: #ffefed;
	font-size: 1rem;
}

.card-title {
	font-family: var(--bs-font-sans-serif);
}

.dropdown-menu.show .nav-item a {
	color: #333;
}

.dropdown-menu.show .nav-item a:hover {
	color: #000;
	font-weight: medium;
}

.richtext-image.left {
	float: left;
}

.richtext-image.right {
	float: right;
}

.pdfobject-container { 
	height: 42rem;
	border: 0.3rem solid rgba(0,0,0,.1);
}

.pullquote {
	margin: 0 0 0.5em 1em;
	background: aliceblue;
	padding: 1em;
	font-size: 2em;
	float: right;
	width: 50%;
}

.navbar-dark .navbar-nav .nav-link {
	color: #ffe9e5;
}

/* footer */
.footerCol {
  padding: 50px 0;
  text-align: center;
  background-color: url('img/header-image.jpg');
}
.socialCol li {
  display: inline-block;
}
.socialCol li + li {
  padding-left: 35px;
}
.socialCol img {
  max-width: 30px;
  max-height: 30px;
  -o-object-fit: contain;
  object-fit: contain;
}
.copyrightCol {
	padding: 20px 0 0;
  font-size: 14px;
}
.copyrightCol p {
	margin: 0;
}
.instaspan {
position: left;
}
twitterspan {
position: center;
}
utubespan {
position: right;
}