
{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol" >
    <div class="container">
        <hr style="width:100%", size="12", color="chocolate">
        <ul class="socialCol">
            <span>
                <li><a href="https://www.instagram.com/thespotlightke/"><img src="{% static 'img/insta.svg' %}" width="120" height="120" alt="..."></a></li>
            </span>
        <span>
            <li><a href="https://twitter.com/spotlight_254"><img src="{% static 'img/titter.svg' %}" width="120" height="120" alt="..."></a></li>
        </span>
        <span>
            <li><a href="https://www.youtube.com/channel/UCWCQ51go_Vw59lzF9gkaknw"><img src="{% static 'img/utube.svg' %}" width="120" height="120" alt="..."></a></li>
        </span>

        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by Spotlight Kenya</p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->
