{% load static %}

<div class="sticky-top" style="display: inline-block; background-color: black; fontsize:0px; width: 100%;">
        <img src="{% static 'img/header-image.jpg' %}" alt="spotlight kenya logo">
    {% include "navbar.html" %}



</div>
<!-- <div>
<input type="checkbox" class="checkbox" id="chk" />
<label class="label" for="chk">
<i class="fas fa-moon"></i>
<i class="fas fa-sun"></i>
<div class="ball"></div>
</label>
</div>

<script type="text/javascript">
  const chk = document.getElementById('chk');

chk.addEventListener('change', () => {
	document.body.classList.toggle('dark');
});

</script>-->
