a:not(.nav-link):not(.wagtail-userbar-link):not(.wagtail-userbar__item>a):not(.card-link) {
	color: #16b5e0;
	transition: background-color .5s;
}

body {
	background-color:#f7fafc;
	font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

blockquote {
    border-left: .25em solid #08bd32;
    color: #4d4d4d;
    margin: 1em 0;
    padding: 1em 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--bs-font-sans-serif);
}

h1 {
	font-size: 2.7rem;
}

h2 {
	font-size: 2.1rem;
}

h3 {
	font-size: 1.7rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1.1rem;
}

img {
	max-width: 100%;
	height: auto;
	image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

p {
	margin-left: 0.1em;
}

#navbar-search-input {
	background-color:#2a750c;
	border-color: black;
	font-size: 1rem;
}

form .form-control::-webkit-input-placeholder {
  color: #fada5c !important;
}

form .form-control::-moz-placeholder {
  color: #fada5c !important;
}
form .form-control:-ms-input-placeholder {
  color: #fada5c !important;
}
form .form-control:placeholder {
  color: #fada5c !important;
}

.card-title {
	font-family: var(--bs-font-sans-serif);
}

.dropdown-menu.show .nav-item a {
	color: #333;
}

.dropdown-menu.show .nav-item a:hover {
	color: #000;
	font-weight: medium;
}

.richtext-image.left {
	float: left;
}

.richtext-image.right {
	float: right;
}

.pdfobject-container {
	height: 42rem;
	border: 0.3rem solid rgba(0,0,0,.1);
}

.pullquote {
	margin: 0 0 0.5em 1em;
	background: aliceblue;
	padding: 1em;
	font-size: 2em;
	float: right;
	width: 50%;
}

.navbar-dark .navbar-nav .nav-link {
	color: #f73bf4;
}
.navbar-nav .navbar-dark {

}
/* footer */
.footerCol {
  padding: 50px 0;
  text-align: center;
}
.socialCol li {
  display: inline-block;
}
.socialCol li + li {
  padding-left: 35px;
}
.socialCol img {
  max-width: 30px;
  max-height: 30px;
  -o-object-fit: contain;
  object-fit: contain;
}
.copyrightCol {
	padding: 20px 0 0;
  font-size: 14px;
}
.copyrightCol p {
	margin: 0;
}

.fa-eye {
	color: #16b5e0;
}

body.dark {
	background: #292C35;
}

.checkbox {
	opacity: 0;
	position: sticky;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}
